{% extends "base.html" %}
{% load static %}

{% block page-title %}
    Stanislav's blog
{% endblock %}

{% block css-files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="{% url 'index-page'%}">Stan's Blog</a></h1>
        <nav>
            <a href="{% url 'all-posts-page' %}">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Stanislav's photo - the author of this blog">
            <h2>STANISLAV'S BLOG</h2>
        </header>
        <p>Hello I'm Stan and I love to blog about tech and the Earth's flora and fauna.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest posts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="{% url 'post-details-page' 1 %}">
                        <img src="" alt="Mountain Hiking">
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>
                                There's nothing like the views you get when hiking in the mountains.
                                I wasn't even prepared what happens next while I was enjoying the views.
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love programming, I love to help others and I love exploring the new technologies.
        </p>
        <p>
            My goal is to keep on growing as a developer.
        </p>
    </section>
{% endblock %}